html{
	font-size: 62.5%;
}

body{
	font-family: 'Didact Gothic', sans-serif;
	color: #222;
	font-size: 1.6rem;
	line-height: 1.3;
	color: $maincolour;
	background-color: $maincolour;
	text-align: center;
	border-top: solid 5px $maincolour;
}

strong, b{
	font-weight: bold;
}

em, i{
	font-style: italic;
}

.container{
	width: 90%;
	margin: 0 auto;
	max-width: 900px;
}

header{
	padding: 40px 0;
	background: white;
/*	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center center;*/
	img{
		margin-bottom: 40px;
	}
	h2{
		font-size: 130%;
		margin-bottom: 16px;
	}
	strong{
		color: $secondarycolour;
	}
}

header a{
	color: white;
	background-color: $secondarycolour;
	padding: 10px 15px;
	margin: 0 10px 20px;
	display: inline-block;
	border: none;
	border-radius: 5px;
	
	&:hover{
		background-color: darken($secondarycolour, 20%);
		color: white;
	}
}

section.images{
	display: flex;
	
	img{
		width: 33.3333%;
		display: block;
	}
}

section.team{
	background: white;
	padding: 40px 0px;
	text-align: left;
		
	.container{
		margin-bottom: 40px;
	}
	
	li{
		margin-bottom: 1rem;
		span{
			display: block;
			visibility: hidden;
			height: 0px;
		}
	}
}

section.main{
	background: white;
	padding: 40px 0 0px;
	
	article:first-child{
		margin-bottom: 30px;
	}
}

footer{
	padding: 40px 0;
	color: white;
	a{
		font-size: 80%;
		color: white;
	}
}

a{
	color: $secondarycolour;
	text-decoration: none;
	border-bottom: solid 1px;
	&:hover{
		color: darken($secondarycolour, 20%);
	}
}


h3{
	font-weight: bold;
	margin-bottom: 0.5rem;
}