body{
	font-size: 1.8rem;
}

section.main .container{
//	display: flex;
	padding-bottom: 50px;
	justify-content: center;
	
	article{
		padding: 0px 1%;
	}
	
	article:first-child{
		margin-bottom: 0px;
	}
}

section.team{
	
	.container{
		display: flex;
		text-align: center;
		
		article{
			width: 100%;
		}
	}
	
	li{
		margin-bottom: 1.2rem;
		span{
			display: inline;
			visibility: visible;
			height: auto;
		}
	}
}